@import "../../assets/styles/mixins.scss";

@mixin border-radius {
  border-radius: 3px;
}

.form {
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;

  border: 1px solid green;
  border-radius: 2px;
  background-color: rgba(44, 124, 138, 0.5);

  & > .label {
    margin-bottom: 10px;
  }
}

.input {
  font-size: 18px;
}

.labelWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -10px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.radioWrapper:not(:last-child) {
  margin-right: 10px;
}

.radioWrapper .input {
  @include visually-hidden;

  &:checked + .label.radio {
    color: yellow;
    border: none;
    outline: 1px solid yellow;
    box-sizing: content-box;
  }
}

.label {
  display: flex;
  flex-direction: column;
}

.radio {
  align-items: center;
  margin-bottom: 10px;

  &.label {
    padding: 10px 20px;
    background-color: rgb(51, 87, 129);
    color: #0b1728;
    @include border-radius;

    &:active {
      transform: scale(0.95);
    }
  }

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.submit {
  display: block;
  margin: 0 auto;
  padding: 8px 60px;
  border: none;
  background-color: rgba(54, 32, 32, 0.8);
  color: #a6eaf5;
  font-size: 26px;
  @include border-radius;
}
