.products {
  list-style: none;
  padding: 0;
  /* margin: 0 auto; */
  margin: 0;
  width: 330px;
  display: grid;
  grid-template-columns: repeat(1, 300px);

  grid-gap: 15px;
}

@media screen and (min-width: 768px) {
  .products {
    width: 620px;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .products {
    width: 930px;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 15px;
  }
}
