.header {
  background-color: green;
  padding: 8px 0;
}

.nav {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px 24px;
  font-size: 18px;
  border: 1px solid red;
  border-radius: 8px;
  color: #fff;

  &.active {
    border: 1px solid blue;
    color: red;
    background-color: yellow;
  }
}

// .active {
//   border: 1px solid blue;
//   color: red;
//   background-color: yellow;
// }
