.filter {
  width: 200px;
  padding: 10px;
  background-color: green;
}

.filter-title {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;

  padding-left: 10px;
}

.filter-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  } */

.filter-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.filter-label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.filter-label::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 15px;
  align-self: center;
  border: 2px solid #212121;
  border-radius: 4px;
  /* background-color: olive; */
}

.filter-input:checked + .filter-label::before {
  border: 2px solid #d9e5f1;
  background-color: #0f7be0;
}
